<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
  <php>
    <env name="CUBEX_ENV" value="development"/>
    <env name="CUBEX_UNITTEST" value="true"/>
    <ini name="display_errors" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="Translation Test Suite">
      <directory>./src/Bundl/Translation/Tests</directory>
      <directory>./src/Bundl/Translation/*/Tests</directory>
      <directory>./src/Bundl/Translation/*/*/Tests</directory>
    </testsuite>
  </testsuites>

</phpunit>

